.comment-item {
  background-color: var(--brown-50);
  border: 1px solid var(--brown-200);
  border-radius: 0.5rem;
}

.comment-form {
  background-color: var(--brown-100);
  border-radius: 0.5rem;
}
